.user-left-sidebar{
    margin-left:auto;
    margin-right:auto;
    background-color:#0094ff;
}

.user-content{
    background-color:#00ff90;
    margin-left:auto;
    margin-right:auto;
}

.user-advertising{

    position:relative;
    margin-top: 5%;
}

img{
    max-width:100%;
}

.user-active{
    background-color:#7c4e87;
    border-radius:5px 5px;
}



